
$colorTextPrimary: #000;
$colorTextSecondary: #212121;
$shadowColor: rgba(0,0,0,0.2);

$colorBackground: #fff;
$colorBackgroundDark: #fafafa;

$colorAccent: #ff5722;
$colorAccentLight: #ff8a50;
$colorAccentDark: #c41c00;