$dimensionTextH1: 26pt;
$dimensionTextH2: 24pt;
$dimensionTextH3: 22pt;
$dimensionTextH4: 20pt;
$dimensionTextH5: 18pt;
$dimensionTextH6: 16pt;
$dimensionTextBody: 16pt;
$dimensionTextCaption: 12pt;

$dimensionBaseSpacing: 1rem;
$breakPointMobile: 575px;
$breakPointTablet: 768px;
