@import 'styles/colors.scss';
@import 'styles/dimensions.scss';
@import 'styles/fonts.scss';

.content {
    @mixin headingTextBase() {
        color: $colorTextPrimary;
        font-family: $serif;
    }
    
    @mixin bodyTextBase() {
        color: $colorTextPrimary;
        font-family: $sansSerif;
    }
    
    span {
        @include bodyTextBase();
        font-size: $dimensionTextBody;
    }
    p {
        margin-top: $dimensionBaseSpacing * 2;
    }
    
    a, Link {
        @include bodyTextBase();
        font-size: $dimensionTextBody;
        font-weight: bold;
        &:hover{
            color:$colorAccentDark;
        }
    }

    .resumeLink {
        @extend a;
        color:$colorAccent;
    }
    
    h1 {
        @include headingTextBase();
        font-size: $dimensionTextH1;
    }
    
    h2 {
        @include headingTextBase();
        font-size: $dimensionTextH2;
    }
    
    h3 {
        @include headingTextBase();
        font-size: $dimensionTextH3;
    }
    
    h4 {
        @include headingTextBase();
        font-size: $dimensionTextH4;
    }
    
    h5 {
        @include headingTextBase();
        font-size: $dimensionTextH5;
    }
    
    h6 {
        @include headingTextBase();
        font-size: $dimensionTextH6;
    }
}


@media (min-width: $breakPointTablet) {
    .content {
        padding-top: $dimensionBaseSpacing * 5;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width : $breakPointMobile) and (max-width: $breakPointTablet) {
    .content {
        padding-top: $dimensionBaseSpacing * 5;
        padding-left: $dimensionBaseSpacing * 4;
        padding-right: $dimensionBaseSpacing * 4;
    }
}

@media (max-width : $breakPointMobile){
    .content {
        padding-top: $dimensionBaseSpacing * 5;
        padding-left: $dimensionBaseSpacing * 1;
        padding-right: $dimensionBaseSpacing * 1;
    }
}
