@import 'styles/colors.scss';
@import 'styles/dimensions.scss';
@import 'styles/durations.scss';

.navLinkContainer:nth-child(2) {
    margin-left: $dimensionBaseSpacing/2;
    margin-right: $dimensionBaseSpacing/2;
}
.navLink {
    text-decoration: none;
    color: $colorTextSecondary;
    transition: $defaultTransition;
    outline: 0;

    &:hover {
        color: $colorTextPrimary;
    }
}

@media (max-width: $breakPointMobile) {
    .navLink {
        font-size: $dimensionTextH5;
    }
}

.currentNavLink{
    color: $colorTextPrimary;
    border-bottom: 3px solid $colorAccent;
}