@import 'styles/colors.scss';
@import 'styles/dimensions.scss';
@import 'styles/fonts.scss';


.appHeader {
    width:100%;
    font-family: $serif;
    font-size: $dimensionTextH3;
    position: fixed;
    top: 0;
    background: $colorBackground;
    z-index: 2;
}

@media (max-width: $breakPointMobile) {
    .appHeader {
        display: flex;
        flex-direction: column;
    }
    .appHeaderNav {
        padding-left: 0;
    }
    .appHeaderContent {
        padding-top: $dimensionBaseSpacing * 1;
        padding-left: $dimensionBaseSpacing * 1;
        padding-right: $dimensionBaseSpacing * 1;
    }
}

@media (min-width : $breakPointMobile) and (max-width: $breakPointTablet) {
    .appHeader {
        text-align: right;
    }
    .appHeaderContent {
            padding-top: $dimensionBaseSpacing * 2;
            padding-left: $dimensionBaseSpacing * 4;
            padding-right: $dimensionBaseSpacing * 4;
    }
}

@media (min-width: $breakPointTablet) {
    .appHeader {
        text-align: right;
    }
    .appHeaderContent {
        padding-top: $dimensionBaseSpacing * 2;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.appHeaderTitle {
    font-weight: bold;
    color: $colorTextSecondary;
    text-decoration: none;
    float: left;

    &:hover {
        color: $colorTextPrimary;
    }
}

.appHeaderNav ul {
    list-style-type: none;
    display: inline;
    padding-left: 0;

    li {
        display: inline;
    }
}